*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.drag {
    display: inline-block;
    
}
ul li{
    list-style-type: none;
}
.drag li, .items-drag{
    margin-top: 10px;
    padding: 7px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    width: 400px;
    height: 100px;
}

.dragging {
    position: fixed;
}